{# on hérite de base.html.twig: on récupère la même structure HTML et on remplace certains blocs#}
{% extends "base.html.twig" %}

{# on écrase le bloc 'title' #}

{% block title %}
  Share It !
{% endblock %}

{% block body %}

  <h1>Share It!</h1>
  <form method="post" action="{{ link('homepage')}}" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="uploaded_file" class="form-control-file mt-2">
    </div>
    <input type="submit" value="Envoyer" class="btn btn-primary mt-2">
  </form>

{% endblock %}


